# Import Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [2]:
df = pd.read_csv("unesco data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9152 entries, 0 to 9151
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Region            9152 non-null   object
 1   Country           9152 non-null   object
 2   Target            9152 non-null   object
 3   Indicator Number  9152 non-null   object
 4   Indicator Name    9152 non-null   object
 5   Year              9152 non-null   int64
 6   Value             9152 non-null   float64
 7   Metadata          7342 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 572.1+ KB

In [4]:
df.head(2)

,Region,Country,Target,Indicator Number,Indicator Name,Year,Value,Metadata
0,SDG: Sub-Saharan Africa,Zimbabwe,Education 2030 FFA,Education 2030 FFA,Government expenditure on education as a perce...,2010,1.54,NaN
1,SDG: Latin America and the Caribbean,Guyana,4.5,4.5.6,Initial government expenditure on education as...,2010,2.37,SOURCE: UIS/UOE data

In [5]:
# drop irrelevant columns

df.drop(columns=['Region', 'Target', 'Indicator Number', 'Metadata'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9152 entries, 0 to 9151
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         9152 non-null   object
 1   Indicator Name  9152 non-null   object
 2   Year            9152 non-null   int64
 3   Value           9152 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 286.1+ KB

In [7]:
df.head(2)

    Country                                     Indicator Name  Year  Value
0  Zimbabwe  Government expenditure on education as a perce...  2010   1.54
1    Guyana  Initial government expenditure on education as...  2010   2.37

In [8]:
# a dataframe for 2023 which will be used to test the models built

df_2023 = df[df['Year'] == 2023]

In [10]:
df_2023.head()

,Country,Indicator Name,Year,Value
9081,Bangladesh,Expenditure on education as a percentage of to...,2023,12.01
9082,Central African Republic,Expenditure on education as a percentage of to...,2023,9.99
9083,Maldives,Expenditure on education as a percentage of to...,2023,10.85
9084,Lesotho,Expenditure on education as a percentage of to...,2023,11.26
9085,Congo,Expenditure on education as a percentage of to...,2023,15.75

In [11]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71 entries, 9081 to 9151
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         71 non-null     object
 1   Indicator Name  71 non-null     object
 2   Year            71 non-null     int64
 3   Value           71 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.8+ KB

In [31]:
df_2023_pivoted = df_2023.pivot_table(index=["Country", "Year"], columns="Indicator Name", values="Value").reset_index()

In [32]:
df_2023_pivoted.head(2)

Indicator Name,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Initial government expenditure on education as a percentage of GDP (%),Initial private expenditure on education (household) as a percentage of GDP (%),International expenditure on education as a percentage of GDP (%)
0,Algeria,2023,13.26,NaN,NaN,NaN,NaN
1,Angola,2023,7.73,NaN,NaN,NaN,NaN

In [33]:
df_2023_pivoted.columns

Index(['Country', 'Year',
       'Expenditure on education as a percentage of total government expenditure (%)',
       'Government expenditure on education as a percentage of GDP (%)',
       'Initial government expenditure on education as a percentage of GDP (%)',
       'Initial private expenditure on education (household) as a percentage of GDP (%)',
       'International expenditure on education as a percentage of GDP (%)'],
      dtype='object', name='Indicator Name')

In [34]:
df_2023_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   Country                                                                          56 non-null     object
 1   Year                                                                             56 non-null     int64
 2   Expenditure on education as a percentage of total government expenditure (%)     51 non-null     float64
 3   Government expenditure on education as a percentage of GDP (%)                   17 non-null     float64
 4   Initial government expenditure on education as a percentage of GDP (%)           1 non-null      float64
 5   Initial private expenditure on education (household) as a percentage of GDP (%)  1 non-null      float64
 6   International expenditure on education as a percentage of GDP (%)                1 non-null      float64
dtypes: float64(5), int64(1), object(1)
memory usage: 3.2+ KB

In [35]:
df_2023_pivoted.index.name = None
df_2023_pivoted.columns.name = None

In [36]:
# percentage of missing values

df_2023_pivoted.isnull().mean() * 100

Country                                                                             0.000000
Year                                                                                0.000000
Expenditure on education as a percentage of total government expenditure (%)        8.928571
Government expenditure on education as a percentage of GDP (%)                     69.642857
Initial government expenditure on education as a percentage of GDP (%)             98.214286
Initial private expenditure on education (household) as a percentage of GDP (%)    98.214286
International expenditure on education as a percentage of GDP (%)                  98.214286
dtype: float64

In [41]:
df_2023_pivoted.columns

Index(['Country', 'Year',
       'Expenditure on education as a percentage of total government expenditure (%)',
       'Government expenditure on education as a percentage of GDP (%)',
       'Initial government expenditure on education as a percentage of GDP (%)',
       'Initial private expenditure on education (household) as a percentage of GDP (%)',
       'International expenditure on education as a percentage of GDP (%)'],
      dtype='object')

In [42]:
# drop columns

df_2023 = df_2023_pivoted.drop(columns= ['Initial government expenditure on education as a percentage of GDP (%)',
       'Initial private expenditure on education (household) as a percentage of GDP (%)',
       'International expenditure on education as a percentage of GDP (%)'])

In [43]:
df_2023.head(2)

,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%)
0,Algeria,2023,13.26,NaN
1,Angola,2023,7.73,NaN

In [44]:
# percentage of missing values

df_2023.isnull().mean() * 100

Country                                                                          0.000000
Year                                                                             0.000000
Expenditure on education as a percentage of total government expenditure (%)     8.928571
Government expenditure on education as a percentage of GDP (%)                  69.642857
dtype: float64

In [50]:
# drop missing values

df_2023.dropna(inplace=True)

In [51]:
df_2023

,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%)
3,Bahamas,2023,11.59,3.09
4,Bangladesh,2023,12.01,2.05
5,Barbados,2023,13.60,5.13
6,Belize,2023,18.88,5.00
8,Bermuda,2023,12.18,1.93
28,Holy See,2023,0.00,0.00
30,Lesotho,2023,11.26,6.69
31,Liberia,2023,12.43,2.42
37,Namibia,2023,24.97,9.04
42,Rwanda,2023,12.20,4.14
52,Uganda,2023,8.63,2.55
53,United Republic of Tanzania,2023,13.70,3.26

In [9]:
# drop rows where year == '2023'
df1 = df[df['Year'] != 2023]

In [12]:
df1.head()

,Country,Indicator Name,Year,Value
0,Zimbabwe,Government expenditure on education as a perce...,2010,1.54
1,Guyana,Initial government expenditure on education as...,2010,2.37
2,Burundi,Government expenditure on education as a perce...,2010,6.78
3,Iran (Islamic Republic of),Initial government expenditure on education as...,2010,3.71
4,Sierra Leone,Expenditure on education as a percentage of to...,2010,12.80

In [13]:
df_pivoted = df1.pivot_table(index=["Country", "Year"], columns="Indicator Name", values="Value").reset_index()

In [14]:
df_pivoted.head(2)

Indicator Name,Country,Year,"Expenditure on education (public, households, ODA) as a percentage of GDP","Expenditure on education (public, private, international) as a percentage of GDP",Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Initial government expenditure on education as a percentage of GDP (%),Initial private expenditure on education (household) as a percentage of GDP (%),Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%),International expenditure on education as a percentage of GDP (%),Percentage of total aid to education allocated to least developed countries (%)
0,Afghanistan,2010,NaN,NaN,6.40,3.48,2.85,NaN,NaN,0.63,NaN
1,Afghanistan,2011,NaN,NaN,5.15,3.46,3.46,NaN,0.0,2.08,NaN

In [15]:
df_pivoted.columns

Index(['Country', 'Year',
       'Expenditure on education (public, households, ODA) as a percentage of GDP',
       'Expenditure on education (public, private, international) as a percentage of GDP',
       'Expenditure on education as a percentage of total government expenditure (%)',
       'Government expenditure on education as a percentage of GDP (%)',
       'Initial government expenditure on education as a percentage of GDP (%)',
       'Initial private expenditure on education (household) as a percentage of GDP (%)',
       'Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)',
       'International expenditure on education as a percentage of GDP (%)',
       'Percentage of total aid to education allocated to least developed countries (%)'],
      dtype='object', name='Indicator Name')

In [16]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 11 columns):
 #   Column                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                        --------------  -----
 0   Country                                                                                                       2218 non-null   object
 1   Year                                                                                                          2218 non-null   int64
 2   Expenditure on education (public, households, ODA) as a percentage of GDP                                     503 non-null    float64
 3   Expenditure on education (public, private, international) as a percentage of GDP                              255 non-null    float64
 4   Expenditure on education as a percentage of total government expenditure (%)                                  1970 non-null   float64
 5   Government expenditure on education as a percentage of GDP (%)                                                2076 non-null   float64
 6   Initial government expenditure on education as a percentage of GDP (%)                                        1345 non-null   float64
 7   Initial private expenditure on education (household) as a percentage of GDP (%)                               589 non-null    float64
 8   Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)  494 non-null    float64
 9   International expenditure on education as a percentage of GDP (%)                                             1398 non-null   float64
 10  Percentage of total aid to education allocated to least developed countries (%)                               451 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 190.7+ KB

In [17]:
df_pivoted.index.name = None
df_pivoted.columns.name = None

In [18]:
df_pivoted.head()

,Country,Year,"Expenditure on education (public, households, ODA) as a percentage of GDP","Expenditure on education (public, private, international) as a percentage of GDP",Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%),Initial government expenditure on education as a percentage of GDP (%),Initial private expenditure on education (household) as a percentage of GDP (%),Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%),International expenditure on education as a percentage of GDP (%),Percentage of total aid to education allocated to least developed countries (%)
0,Afghanistan,2010,NaN,NaN,6.40,3.48,2.85,NaN,NaN,0.63,NaN
1,Afghanistan,2011,NaN,NaN,5.15,3.46,3.46,NaN,0.0,2.08,NaN
2,Afghanistan,2012,NaN,NaN,6.49,2.60,2.22,NaN,0.0,0.38,NaN
3,Afghanistan,2013,NaN,NaN,7.13,3.45,2.81,NaN,0.0,0.65,NaN
4,Afghanistan,2014,NaN,NaN,7.96,3.70,2.99,NaN,0.0,0.70,NaN

In [19]:
df_pivoted.columns

Index(['Country', 'Year',
       'Expenditure on education (public, households, ODA) as a percentage of GDP',
       'Expenditure on education (public, private, international) as a percentage of GDP',
       'Expenditure on education as a percentage of total government expenditure (%)',
       'Government expenditure on education as a percentage of GDP (%)',
       'Initial government expenditure on education as a percentage of GDP (%)',
       'Initial private expenditure on education (household) as a percentage of GDP (%)',
       'Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)',
       'International expenditure on education as a percentage of GDP (%)',
       'Percentage of total aid to education allocated to least developed countries (%)'],
      dtype='object')

In [20]:
# percentage of missing values

df_pivoted.isnull().mean() * 100

Country                                                                                                          0.000000
Year                                                                                                             0.000000
Expenditure on education (public, households, ODA) as a percentage of GDP                                       77.321912
Expenditure on education (public, private, international) as a percentage of GDP                                88.503156
Expenditure on education as a percentage of total government expenditure (%)                                    11.181244
Government expenditure on education as a percentage of GDP (%)                                                   6.402164
Initial government expenditure on education as a percentage of GDP (%)                                          39.359784
Initial private expenditure on education (household) as a percentage of GDP (%)                                 73.444545
Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)    77.727683
International expenditure on education as a percentage of GDP (%)                                               36.970243
Percentage of total aid to education allocated to least developed countries (%)                                 79.666366
dtype: float64

In [21]:
# drop columns with more than 30% null values

df1 = df_pivoted.drop(columns= ["Expenditure on education (public, households, ODA) as a percentage of GDP",
                               "Expenditure on education (public, private, international) as a percentage of GDP",
                               "Initial government expenditure on education as a percentage of GDP (%)",
                               "Initial private expenditure on education (household) as a percentage of GDP (%)",
                               "Initial private expenditure on education (other non-educational private entities) as a percentage of GDP (%)",
                               "International expenditure on education as a percentage of GDP (%)",
                               "Percentage of total aid to education allocated to least developed countries (%)"])

In [22]:
df1.head()

,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%)
0,Afghanistan,2010,6.40,3.48
1,Afghanistan,2011,5.15,3.46
2,Afghanistan,2012,6.49,2.60
3,Afghanistan,2013,7.13,3.45
4,Afghanistan,2014,7.96,3.70

In [23]:
# percentage of missing values

df1.isnull().mean() * 100

Country                                                                          0.000000
Year                                                                             0.000000
Expenditure on education as a percentage of total government expenditure (%)    11.181244
Government expenditure on education as a percentage of GDP (%)                   6.402164
dtype: float64

In [24]:
df1['Expenditure on education as a percentage of total government expenditure (%)'].describe()

count    1970.000000
mean       14.013406
std         4.892373
min         0.000000
25%        10.602500
50%        13.445000
75%        17.030000
max        35.010000
Name: Expenditure on education as a percentage of total government expenditure (%), dtype: float64

In [25]:
df1['Government expenditure on education as a percentage of GDP (%)'].describe()

count    2076.000000
mean        4.416628
std         1.872824
min         0.000000
25%         3.150000
50%         4.240000
75%         5.410000
max        16.580000
Name: Government expenditure on education as a percentage of GDP (%), dtype: float64

In [26]:
# filling missing values with the mean

df1["Government expenditure on education as a percentage of GDP (%)"] = df1["Government expenditure on education as a percentage of GDP (%)"].fillna(df1["Government expenditure on education as a percentage of GDP (%)"].mean())
df1['Expenditure on education as a percentage of total government expenditure (%)'] = df1["Expenditure on education as a percentage of total government expenditure (%)"].fillna(df1["Expenditure on education as a percentage of total government expenditure (%)"].mean())

In [27]:
# percentage of missing values

df1.isnull().mean() * 100

Country                                                                         0.0
Year                                                                            0.0
Expenditure on education as a percentage of total government expenditure (%)    0.0
Government expenditure on education as a percentage of GDP (%)                  0.0
dtype: float64

In [28]:
df1.head()

,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%)
0,Afghanistan,2010,6.40,3.48
1,Afghanistan,2011,5.15,3.46
2,Afghanistan,2012,6.49,2.60
3,Afghanistan,2013,7.13,3.45
4,Afghanistan,2014,7.96,3.70

In [29]:
df1.head()

,Country,Year,Expenditure on education as a percentage of total government expenditure (%),Government expenditure on education as a percentage of GDP (%)
0,Afghanistan,2010,6.40,3.48
1,Afghanistan,2011,5.15,3.46
2,Afghanistan,2012,6.49,2.60
3,Afghanistan,2013,7.13,3.45
4,Afghanistan,2014,7.96,3.70

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 4 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Country                                                                       2218 non-null   object
 1   Year                                                                          2218 non-null   int64
 2   Expenditure on education as a percentage of total government expenditure (%)  2218 non-null   float64
 3   Government expenditure on education as a percentage of GDP (%)                2218 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 69.4+ KB

In [52]:
# save the dataframe as a .csv file

df1.to_csv("education_expenditure.csv", index=False)
df_2023.to_csv("df_2023.csv", index=False)